@import "variable.scss";
@import "attribution.scss";
*{
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    background: $background;
}
.main-content{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        width: 350px;
        border-radius: 20px;
        background: white;
        box-shadow: 0px 18px 20px -6px hsl(245, 75%, 52%,0.2);
        .hero-img{
            width: 100%;
            border-radius: 20px 20px 0 0;

        }
        .content{
            display: flex;
            width: 88%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .title{
                font-weight:900;
                margin: 35px 0 15px;
            }
            .text{
                text-align: center;
                line-height: 30px;
                color:$text;
                margin-bottom: 20px;
            }
            .content-annual-plan{
                display: flex;
                width: 100%;
                box-sizing: border-box;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 15px 10px;
                background: $background-annual;
                border-radius: 10px;
                margin-bottom: 25px;

                //annual plan
                .annual-plan{
                    display: flex;
                    img{
                        margin-left: 5px;
                    }
                    //description
                    .description{
                        margin-left: 10px;
                        .plan-title{
                            font-size: 16px;
                            font-weight: 700;
                        }
                        .price{
                            color:$text;
                            font-size:16px;
                        }
                         
                    }//end of description
                }//end of annual plan
                .change{
                    .link{
                        color:$color-button;
                        font-size: 16px;
                        font-weight: 700;
                        margin-right: 5px;
                    }
                }
            }//end of content annual
            .button{
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .btn{
                    width: 100%;
                    text-align: center;
                    background-color: $color-button;
                    color:$color-annual;
                    font-weight: 700;
                    font-size: 16px;
                    margin-bottom: 5px;
                    padding: 15px 10px;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    
                }
                .shadow{
                    box-shadow: 0px 18px 20px -5px $color-button-opacity;
                    z-index: 1;
                }
                .btn-cancel{
                    background: transparent;
                    color: $text;
                    margin-bottom: 25px;
                }
            }
        }//end of content
    }
}