$color-annual:hsl(225, 100%, 98%);
$background:hsl(225, 100%, 94%);
$background-annual:hsl(225, 100%, 94%,0.4);
$color-button:hsl(245, 75%, 52%);
$color-button-opacity:hsl(245, 75%, 52%,0.3);
$text:hsl(224, 23%, 55%);
$color-primary:hsl(223, 47%, 23%);